* {
    padding: 0px;
    margin: 0px;
}

.btn,
.jumbotron,
.nav :hover {
    border-radius: 0px;
}

body {
    background: #FFFFFF;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #006600;
}

::-webkit-scrollbar-thumb:hover {
    background: #00b300;
}